<section class="fixed_header ">
	<div class="mcenter">
		<div class="header-logo" >
			<div class="col-md-6 col-lg-6 col-sm-8 col-xs-8  mfont_14px mtext-center">
				<!-- <a href="#">
					<span class="logo-imgs"></span>
				</a> -->
				<img class="logo-imgs" src="../images/logo_icon.png" />
			</div>	
			<div>
				<p class="user_name">welcome&nbsp;<b><span><%=name%></span></b>
				</p>
				<div id="nav-trigger">
					<span></span>
					<span></span>
					<span></span>
				</div>
				<nav id="nav-mobile">
					<ul id="menu" class="index_menu_right">
						<li><a href="#" id="" class="index_menu_a">Menu - 1</a></li>
						<li><a href="#" id="" class="index_menu_a">Menu - 2</a></li>
						<li><a href="#" id="" class="index_menu_a">Menu - 3</a></li>
						<li><a href="#" id="" class="index_menu_a">Log Out</a></li>
					</ul>
				</nav>
			</div>
		</div>	
	</div>
</section>