		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title></title>
		<link rel="icon" href="images/favicon.ico" type="image/png" />
		<!-- Bootstrap -->
		<link href="../compliance_portal/css/bootstrap.min.css" rel="stylesheet" />
		<!-- Fonts -->
		<link href='https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500,700,400italic' rel='stylesheet' type='text/css' />
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,400italic,300' rel='stylesheet' type='text/css' />
		<link href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' rel='stylesheet' type='text/css' />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
		<!-- Main Styles -->
		<link rel="stylesheet" type="text/css" href="../compliance_portal/css/style.css" />
		<link rel="stylesheet" type="text/css" href="../compliance_portal/css/datepicker.min.css" />
		
		<script type="text/javascript" src="../compliance_portal/js/jquery-1.10.2.js"></script>
		<script type="text/javascript" src="../compliance_portal/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="../compliance_portal/js/script.js"></script>
		<script type="text/javascript" src="../compliance_portal/js/canvasjs.min.js"></script>
		<script type="text/javascript" src="../compliance_portal/js/charts.js"></script>	
		
		<script src="../compliance_portal/js/datepicker.min.js"></script>

		<!-- Include English language -->
		<script src="../compliance_portal/js/datepicker.en.js"></script>