		<link rel="stylesheet" href="../fb_services/css/style.css" type="text/css" charset="utf-8" /> 
		<link rel="stylesheet" type="text/css" href="../fb_services/css/bootstrap.css" />
		<link href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' rel='stylesheet' type='text/css' />
		<!-- Script Links -->
		<script type="text/javascript" src="../fb_services/js/jquery.min.js"></script>	
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="../fb_services/js/bootstrap.min.js"></script>
		<script src="../fb_services/js/script.js"></script> 	