		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	   	<!--  <link rel="stylesheet" type="text/css" href="css/bootstrap.css" /> -->
		<link rel="stylesheet" type="text/css" href="../ecommerce_portal/css/content.css">
		<link rel="stylesheet" type="text/css" href="../ecommerce_portal/css/style.css">
		<link rel="stylesheet" type="text/css" href="../ecommerce_portal/css/datepicker.css">
		<link rel="stylesheet" type="text/css" href="../ecommerce_portal/css/jquery-ui-1.10.4.custom.css">
		<link href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' rel='stylesheet' type='text/css' />
		<style>
		  .dbrd {
			border-style: solid;
		  }
		</style>
	   	<!--  <script src="js/jquery-1.10.2.js"></script> -->
		<script src="../ecommerce_portal/js/underscore.js"></script>
		<script src="../ecommerce_portal/js/backbone.js"></script>
	  	<!--   <script src="js/bootstrap.min.js"></script> -->
		<script src="../ecommerce_portal/js/jquery-ui-1.10.4.custom.js"></script>
		<script src="../ecommerce_portal/js/utils.js"></script>
		<script src="../ecommerce_portal/js/script.js"></script>
		<script src="../ecommerce_portal/js/form_validation.js"></script>
