<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	   <!--  <link rel="stylesheet" type="text/css" href="css/bootstrap.css" /> -->
		<link rel="stylesheet" type="text/css" href="css/content.css">
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link rel="stylesheet" type="text/css" href="css/datepicker.css">
		<link rel="stylesheet" type="text/css" href="css/jquery-ui-1.10.4.custom.css">
		<style>
		  .dbrd {
			border-style: solid;
		  }
		</style>
	   <!--  <script src="js/jquery-1.10.2.js"></script> -->
		<script src="js/underscore.js"></script>
		<script src="js/backbone.js"></script>
	  <!--   <script src="js/bootstrap.min.js"></script> -->
		<script src="js/jquery-ui-1.10.4.custom.js"></script>
		<script src="js/utils.js"></script>
		<script src="js/script.js"></script>
		<script src="js/form_validation.js"></script>

  </head>
  <body class="" style="">
	<div class="center-950px-block  container_WDT960PX PADDL0 no-padding-left no-padding-right page ">		

    <div class="rootDiv panel " style=" background-color: transparent;" >
		
		<!-- START - HEADER SECTION -->
		<section class="fixed_header ">
			<div class="col-md-6 col-lg-6 col-sm-6 col-xs-6  mfont_14px mtext-center index_navigation " >
				<ul id="menu" class="index_navigation_right">
					<li class="MRGR15PX index_navigation_li "><a href="seller.html" id="">Seller </a></li>
					<li class="MRGR15PX index_navigation_li "><a href="#" id="signup">Signup </a></li>
					<li class="MRGR15PX "><a href="#" id="login">login</a></li>
				</ul>					
			</div>
			<div class="mcenter">
				<div style="position: relative;display: inline-block; width: 100%;" >
					<div class="col-md-6 col-lg-6 col-sm-6 col-xs-6  mfont_14px mtext-center PADDL20PX">
						<a href="#"><img src="images/logo.png" alt="Saptalabs" title="Saptalabs" ></a>
					</div>					
					<div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 mtext-center " style="  padding-top:5px;">
						<ul id="menu" class="index_menu_right">
							<li ><a href="#" id="" class="index_menu_a">Menu - 1</a></li>
							<li ><a href="#" id="" class="index_menu_a">Menu - 2</a></li>
							<li ><a href="#" id="" class="index_menu_a">Menu - 3</a></li>
							<li ><a href="#" id="" class="index_menu_a">Menu - 4</a></li>
						</ul>
					</div>
				</div>	
			</div>
		</section>
		<!-- END - HEADER SECTION -->
		
		<div class="main_container">
		
			<div class="banner_section" >
				<img src="images/banner4.jpg" />
			</div> 
		
			<div class="content_section">
			
				<!-- START - LEFT Nav -->
				<div class="column-right-content fLeft index_column-right MRGB5PX">
					<section class="row catogary">
						<article class="row">
							<div class="row col-md-4 col-sm-4 col-lg-4 col-xs-6">
								<aside>5000 Rs</aside>
								<span>
									<img src="images/mob.jpg" style="width: 100px; height: 100px;">
								</span>
								<p>  Description for the product  </p>
							</div>
							<div class="row col-md-4 col-sm-4 col-lg-4 col-xs-6">
								<aside>5000 Rs</aside>
								<span>
									<img src="images/mob1.jpg" style="width: 100px; height: 100px;">
								</span>
								<p>  Description for the product  </p>
							</div>
							<div class="row col-md-4 col-sm-4 col-lg-4 col-xs-4">
								<aside>5000 Rs</aside>
								<span>
									<img src="images/mob2.jpg" style="width: 100px; height: 100px;">
								</span>
								<p>  Description for the product  </p>
							</div>
						</article>
						<article class="row">
							<div class="row col-md-4 col-sm-4 col-lg-4 col-xs-6">
								<aside>5000 Rs</aside>
								<span>
									<img src="images/mob.jpg" style="width: 100px; height: 100px;">
								</span>
								<p>  Description for the product  </p>
							</div>
							<div class="row col-md-4 col-sm-4 col-lg-4 col-xs-6">
								<aside>5000 Rs</aside>
								<span>
									<img src="images/mob1.jpg" style="width: 100px; height: 100px;">
								</span>
								<p>  Description for the product  </p>
							</div>
							<div class="row col-md-4 col-sm-4 col-lg-4 col-xs-4">
								<aside>5000 Rs</aside>
								<span>
									<img src="images/mob2.jpg" style="width: 100px; height: 100px;">
								</span>
								<p>  Description for the product  </p>
							</div>
						</article>
						<article class="row">
							<div class="row col-md-4 col-sm-4 col-lg-4 col-xs-6">
								<aside>5000 Rs</aside>
								<span>
									<img src="images/mob.jpg" style="width: 100px; height: 100px;">
								</span>
								<p>  Description for the product  </p>
							</div>
							<div class="row col-md-4 col-sm-4 col-lg-4 col-xs-6">
								<aside>5000 Rs</aside>
								<span>
									<img src="images/mob1.jpg" style="width: 100px; height: 100px;">
								</span>
								<p>  Description for the product  </p>
							</div>
							<div class="row col-md-4 col-sm-4 col-lg-4 col-xs-4">
								<aside>5000 Rs</aside>
								<span>
									<img src="images/mob2.jpg" style="width: 100px; height: 100px;">
								</span>
								<p>  Description for the product  </p>
							</div>
						</article>
					</section>
				</div>				
				<!-- END - LEFT Nav -->
				
				<!-- START - Right Nav -->
				<div class="column-container row leftNav_WDT240PX fRight">
					<div id="sidebar" class="panel-group mleftnavhide">
						
						<!-- START - Right Nav 1 -->
						<section class="accordion-step panel brd10Btm">
							<div class="accordion-heading blubgColor row MRG0" data="" >
								<div class="col-xs-12 col-lg-12 col-md-12">
									<div class="accordion-label center-text">
										<span class="whiteColor font_18px">Try it <b>FREE</b></span>
									</div>							
								</div>
							</div>
							<div class="accordion-heading row MRG0" data="" >
								<div class="col-xs-12 col-lg-12 col-md-12">
									<div class="accordion-label MARL0PX">
										<span class="font_18px grayColor"><b>FREE</b> to post a product</span>
									</div>
									<div class="accordion-label">
										<p class="font_12px grayColor lineHeight1 PADDDTB0EM MRG0"><b>Free</b> to post a product1 to post a product</p>
										<p class="font_12px grayColor PADDDTB0EM MRG0"><b>Free</b> to post a product1</p>
										<p class="font_12px grayColor PADDDTB0EM MRG0"><b>Free</b> to post a product1</p>
										<p class="font_12px grayColor PADDDTB0EM MRG0"><b>Free</b> to post a product1</p>
									</div>
								</div>
							</div>					
						</section>    
						<!-- END - Right Nav 1 -->
						
						<!-- START - Right Nav 2 -->
						<section class="accordion-step panel brd10Btm">
							<div class="accordion-heading blubgColor row MRG0" data="" >
								<div class="col-xs-12 col-lg-12 col-md-12">
									<div class="accordion-label center-text">
										<span class="whiteColor font_18px">Try it <b>FREE</b></span>
									</div>							
								</div>
							</div>
							<div class="accordion-heading row MRG0" data="" >
								<div class="col-xs-12 col-lg-12 col-md-12">
									<div class="accordion-label MARL0PX">
										<span class="font_18px grayColor"><b>FREE</b> to post a product</span>
									</div>
									<div class="accordion-label">
										<p class="font_12px grayColor lineHeight1 PADDDTB0EM MRG0"><b>Free</b> to post a product1 to post a product</p>
										<p class="font_12px grayColor PADDDTB0EM MRG0"><b>Free</b> to post a product1</p>
										<p class="font_12px grayColor PADDDTB0EM MRG0"><b>Free</b> to post a product1</p>
										<p class="font_12px grayColor PADDDTB0EM MRG0"><b>Free</b> to post a product1</p>
									</div>
								</div>
							</div>					
						</section>   
						<!-- END - Right Nav 2 -->
						
					</div>
				</div>		
				<!-- END - Right Nav -->
			</div>
			
			<!-- START -- Footer Secion -->
			<div class="footer">	
				<div class="footer_container">						
					<div>
						<p class="copy_right"><a href="http://saptalabs.com/" >&nbsp;Saptalabs Software Solutions Pvt Ltd&nbsp;</a><span> &#169;&nbsp; <script type"text/javascript">document.write(new Date().getFullYear());</script></span></p>
						<div class="icons">
							<ul>
								<li class="social-icons flip-container"><a href="#" target="_blank"><span class="facbk flipper"></span></a></li>
								<li class="social-icons flip-container"><a href="#" target="_blank"><span class="ld flipper"></span></a></li>
								<li class="social-icons flip-container"><a href="#" target="_blank"><span class="tw flipper"></span></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- END -- Footer Secion -->
			
			<!-- START -- signup Modal Secion -->
			<section>			
				<div class="modal fade" id="signupDesc" aria-hidden="false" aria-labelledby="" role="dialog" tabinde="" x="-1" style="display: none; overflow: auto;">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
							<form role="form" class="signUpForm-horizontal" id="signUpForm-horizontal" name="signUpForm-horizontal" method="post" action="" onsubmit="javascript:return signUpFormvalidation();">
								<div class="modal-body modal-height padding-top-40-xs padding-right-10-xs padding-bottom-40-xs padding-left-10-xs accHIW signup_model " style="width: 200px !important; border-radius: 6px;">
									<div class="modal-header modal-header-width signup_model_width signup_model_header PADDL15PX ">
										<button class="close signup_model_close" aria-hidden="true" data-dismiss="modal" type="button">
											<span class="icon-close"></span>
										</button>
										<h4 class="modal-title modal-title-width" style=" color: #004990;">Sign Up</h4>
									</div>
									<article class="mrgCenter mMRGT5PX" style="padding: 0 10px;">
										<div class="MRGB20PX">
											<div class="col-md-12 col-lg-12 col-sm-12 MRGAUTO mPDGB30PX text-center signup_model_animtn">
												<input type="button" value="Signup with Facebook"  class="text-center fb-sign-acc signup_model_btn PADDL30">
											</div>
											<div class="or">
												<span class="or_text">OR</span>
											</div>
											<div class="form-group has-feedback signup_model_form-group ">
												<div class="row MRGB20PX signup_model_animtn">
													<div class="PADDDLR5PX">
														<div class="col-xs-12 col-sm-12">
															<input type="text" id="email" placeholder="Email Address" class="form-control formfield_req PADDL30" onkeyup="valEmail(this);" onblur="valEmail(this);">
															<span class="glyphicon glyphicon-envelope signup_model_icon " id="email_icon"></span><span class="error" id="email_error">This is a required field.</span>
															<span class="error" id="email_error1">Email is not valid</span>
														</div>
													</div>
												</div>
												<div class="row MRGB20PX signup_model_animtn" >
													<div class="PADDDLR5PX">
														<div class="col-xs-12 col-sm-12">
															<input type="text" id="userName" class="form-control formfield_req PADDL30" placeholder="Username" onkeyup="valNonEmpty(this);" onblur="valNonEmpty(this);">
															<span class="glyphicon glyphicon-user signup_model_icon " id="userName_icon"></span><span class="error" id="userName_error">This is a required field.</span>
														</div>
													</div>
												</div>
												<div class="row MRGB20PX signup_model_animtn">
													<div class="PADDDLR5PX">
														<div class="col-xs-12 col-sm-12">
															<input type="password" id="password" class="form-control formfield_req PADDL30" placeholder="Password" onkeyup="valNonEmpty(this);" onblur="valNonEmpty(this); ">
															<span class="glyphicon glyphicon-lock signup_model_icon " id="password_icon"></span><span class="error" id="password_error">This is a required field.</span>
														</div>
													</div>
												</div>
												<div class="row  signup_model_animtn">
													<div class="PADDDLR5PX">
														<div class="col-xs-12 col-sm-12">
															<input type="password" id="confirmPassword" class="form-control formfield_req PADDL30" placeholder="Confirm Password" onkeyup="valdconfrmpass(this);" onblur="valNonEmpty(this); valdconfrmpass(this); ">
															<span class="glyphicon glyphicon-lock signup_model_icon " id="confirmPassword_icon"></span><span class="error" id="confirmPassword_error">This is a required field.</span>
															<span class="error" id="confirmPassword_error2">Enter password First</span>
															<span class="error" id="confirmPassword_error3">Passwords do not match!</span>
														</div>
													</div>
												</div>
												<div class="PADDB20PX col-md-12 col-lg-12 col-sm-12 MRGAUTO mPDGB30PX text-center  MRGT20PX PADDD0PX signup_model_animtn " style="display: block;">
													<input type="submit" value="Sign Up" id="enrollBtn" class="text-center rootDivBtn signup_model_btn signup_model_animtn">
												</div>
												<div class="mtext-center ">
													<section>
														<p class="grayColor font_14px">By registering you confirm that you accept the 
														<a href="sample.html" onclick="window.open(this.href,'mywin','left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;">Terms and Conditions</a>  and 
														<a href="sample.html" onclick="window.open(this.href,'mywin','left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;">Privacy Policy</a> </p>
													</section>
												</div>
												
											</div>
										</div>
									</article>
									<div class="font_14px signup_account">
										<p>Already registerd user ?<a href="javascript:void(0);" id="login">&nbsp;LogIn</a></p>
									</div>
								</div>
							</form>
					  </div>
					</div>
				</div>				
			</section>
			<!-- END -- signup Modal Secion -->
			<!-- START -- login Modal Secion -->
			<section>
				<div class="modal fade" id="loginDesc" aria-hidden="false" aria-labelledby="" role="dialog" tabinde="" x="-1" style="display: none;">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
							<form role="form" class="loginForm-horizontal" id="loginForm-horizontal" name="loginForm-horizontal" method="post" action="" onsubmit="javascript:return loginFormvalidation();" >
								<div  class="modal-body modal-height padding-top-40-xs padding-right-10-xs padding-bottom-40-xs padding-left-10-xs accHIW signup_model " style="width: 200px !important; border-radius: 6px;">
									<div class="modal-header modal-header-width signup_model_width signup_model_header PADDL15PX ">
										<button  class="close signup_model_close" aria-hidden="true" data-dismiss="modal" type="button">
											<span class="icon-close"></span>
										</button>
										 <h4 class="modal-title modal-title-width" style=" color: #004990;">Login</h4>
									</div>
									<article class="mrgCenter  mMRGT5PX" style="padding: 0 10px;">
										<div class="MRGB20PX">
											<div class=" col-md-12 col-lg-12 col-sm-12 MRGAUTO mPDGB30PX text-center signup_model_animtn">
												<input type="button" value="Login with Facebook"  class="text-center fb-sign-acc signup_model_btn PADDL30">
											</div>
											<div class="or">
												<span class="or_text">OR</span>
											</div>
											<div class="form-group has-feedback signup_model_form-group ">
												<div class="row MRGB20PX signup_model_animtn">
													<div class="PADDDLR5PX">
														<div class="col-xs-12 col-sm-12">
															<input type="text" id="loginemail" placeholder="Email or Username" class="form-control formfield_req PADDL30"  onblur="valNonEmpty(this);" onkeyup="valNonEmpty(this);">
															<span class="glyphicon glyphicon-envelope signup_model_icon " id="loginemail_icon"></span><span class="error" id="loginemail_error">This is a required field.</span>
														</div>
													</div>
												</div>
												<div class="row signup_model_animtn">
													<div class="PADDDLR5PX">
														<div class="col-xs-12 col-sm-12">
															<input type="password" id="loginpassword" class="form-control formfield_req PADDL30" placeholder="Password" onkeyup="valNonEmpty(this);" onblur="valNonEmpty(this);">
															<span class="glyphicon glyphicon-lock signup_model_icon " id="loginpassword_icon"></span><span class="error" id="loginpassword_error">This is a required field.</span>
														</div>
													</div>
												</div>
												<div class=" signup_model_animtn " style="display: block; text-align: center;">
													<div class="PADDDLR5PX row">													
														<div class=" col-xs-12 signup_model_animtn"  >
															<div class="radio mrgCenter col-lg-12 col-md-12 col-sm-12 col-xs-12">
																<label class="PADDL0">
																	<input type="checkbox" class="radioIE9" name="" value=""  id="rememberMe">
																	<span>Remember me</span>
																</label>
															</div>
														</div>
													</div>
												</div>												
												<div class="PADDB20PX col-md-12 col-lg-12 col-sm-12 MRGAUTO mPDGB30PX text-center  MRGT20PX PADDD0PX signup_model_animtn " style="display: block;">
													<input type="submit" value="Login"  class="text-center rootDivBtn signup_model_btn signup_model_animtn">
												</div>
												<div class="mtext-center ">
													<section>
														<p class="grayColor forgot_pwd"> <a href="javascript:void(0);" id="forgotpassword">Forgot Account Details?</a> </p>
													</section>
												</div>												
											</div>
										</div>
									</article>
									<div class="font_14px signup_account">
										<p>Don't have an account?<a href="javascript:void(0);" id="signup">&nbsp;sign up!</a></p>
									</div>							 
								</div>
							</form>
					  </div>
					</div>
				</div>				
			</section>
			<!-- END -- login Modal Secion -->			
			<!-- starts forgotpassword -->
			<section>			
				<div class="modal fade" id="forgotpasswordDesc" aria-hidden="false" aria-labelledby="" role="dialog" tabinde="" x="-1" style="display: none;">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
							<form role="form" class="resetLoginform-horizontal" id="resetLoginform-horizontal" name="resetLoginform-horizontal" method="post" action="" onsubmit="javascript:return resetFormvalidation();">
								<div  class="modal-body modal-height padding-top-40-xs padding-right-10-xs padding-bottom-40-xs padding-left-10-xs accHIW signup_model " style="width: 265px !important ; right: 11px; border-radius: 6px;">
									<div class="modal-header modal-header-width signup_model_width signup_model_header PADDL15PX ">
										<button  class="close signup_model_close" aria-hidden="true" data-dismiss="modal" type="button">
											<span class="icon-close"></span>
										</button>
										 <h4 class="modal-title modal-title-width" style=" color: #004990;">Reset your password</h4>
									</div>
									<article class="mrgCenter   mMRGT5PX" style="padding: 0 10px;">
										<div class="MRGB20PX">
											<div class="form-group has-feedback signup_model_form-group ">
												<div class="row MRGB20PX signup_model_animtn">
													<div class="PADDDLR5PX">
														<div class="col-xs-12 col-sm-12 ">
															<input type="text" id="forgotemail" placeholder="Enter your e-mail address" class="form-control formfield_req PADDL30" onkeyup="valEmail(this);" onblur="valEmail(this);" style="padding-right: 0px;">
															<span class="glyphicon glyphicon-envelope signup_model_icon " id="forgotemail_icon"></span><span class="error" id="forgotemail_error">This is a required field.</span>
															<span class="error" id="forgotemail_error1">Email is not valid</span>
														</div>
													</div>
												</div>							
												<div class="PADDB20PX col-md-12 col-lg-12 col-sm-12 MRGAUTO mPDGB30PX text-center  MRGT20PX PADDD0PX signup_model_animtn " style="display: block;">
													<input type="submit" value="Reset Password" id="enrollBtn" class="text-center rootDivBtn signup_model_btn signup_model_animtn" >
												</div>
												<div class="mtext-center ">
													  <section>
														<p class="grayColor font_14px forgot_pwd"> <a href="javascript:void(0);" id="login">Login</a> </p>
													  </section>
												</div>												
											</div>
										</div>
									</article>
									<div class="font_14px signup_account">
										<p>Don't have an account?<a href="javascript:void(0);" id="signup">&nbsp;sign up!</a></p>
									</div>							 
								</div>
							</form>
					  </div>
					</div>
				</div>				
			</section>
			<!-- ends forgotpassword -->			
		</div>
    </div>
	</div>
    <script>
		(function($){
			(function fadeNext(collection){
				collection.eq(0).fadeIn(100, function(){
					(collection=collection.slice(1)).length 
					&& fadeNext(collection)
				});
			})($('.signup_model_animtn'))
		})(jQuery)
	</script>
	
  
</body></html>