<!DOCTYPE html>
<html>
  <head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="css/content.css" />
	<link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/datepicker.css" />
    <link rel="stylesheet" type="text/css" href="css/jquery-ui-1.10.4.custom.css" />
    <style>
      .dbrd {
        border-style: solid;
      }
    </style>
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/underscore.js"></script>
    <script src="js/backbone.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery-ui-1.10.4.custom.js"></script>
    <script src="js/utils.js"></script>

  </head>
  <body>
	<div class="center-950px-block gutter-top container_WDT960PX PADDL0 no-padding-left no-padding-right page " >
		<div class="column-container row leftNav_WDT240PX fRight">
			<div id="sidebar" class="panel-group mleftnavhide">
<!-- START - Left Nav -->
                 <section class="accordion-step panel">
				    <div class="accordion-heading collapsed row" data="" >
				        <div class="col-xs-12 col-lg-12 col-md-12">
				            <div class="accordion-label">
				                <a href="">Billing &amp; Payment History</a>
				            </div>
				        </div>
					</div>
				</section>
				<section class="accordion-step panel">
				    <div class="accordion-heading collapsed row" data="" >
				        <div class="col-xs-12 col-lg-12 col-md-12">
				            <div class="accordion-label">
				                <a href="">Payment Options</a>
				            </div>
				        </div>
					</div>
				</section>
				<section class="accordion-step panel">
				    <div class="accordion-heading collapsed row" data="" >
				        <div class="col-xs-12 col-lg-12 col-md-12">
				            <div class="accordion-label">
				                <a href="">eBill Paperless billing</a>
				            </div>
				        </div>
					</div>
				</section>
				<section class="accordion-step panel">
				    <div class="accordion-heading collapsed row" data="" >
				        <div class="col-xs-12 col-lg-12 col-md-12">
				            <div class="accordion-label">
				                <a href="">How to Read a Bill</a>
				            </div>
				        </div>
					</div>
				</section>
				<section class="accordion-step panel">
				    <div class="accordion-heading collapsed row" data="" >
				        <div class="col-xs-12 col-lg-12 col-md-12">
				            <div class="accordion-label">
				                <a href="">Current Bill Inserts</a>
				            </div>
				        </div>
					</div>
				</section>
				<section class="accordion-step panel">
				    <div class="accordion-heading collapsed row" data="" >
				        <div class="col-xs-12 col-lg-12 col-md-12">
				            <div class="accordion-label">
				                <a href="">Business Billing</a>
				            </div>
				        </div>
					</div>
				</section>

                 </div>
		</div>
<!-- END - Left Nav -->

<!-- Start -eBill Paperless Billing Static Content -->
    <div class="rootDiv panel column-right-content fLeft">
      <section class=" margin-bottom-sm">
        <div class="mcenter BRDBTM2PX">
          <div style="position: relative;display: inline-block; width: 100%;" class="PADDDB10PX">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 PADDINGCNT mfont_14px mtext-center">
			  <h1 class="dte-michigan" ><span class="header-mobile-padding fontface-light fnt15pt">eBill Paperless Billing</span></h1>
            </div>
          </div>
        </div>
      </section>
      <div class="PADDTB10PXLR15PX PADDB5PXMRGN5PX MRG0" style="margin-top: 5px;font: 14px Interstate-Light;position: relative;">
        <div class="PADDB20PX mtext-center">
          <section>
            <h4 class="grayColor fnt15pt font_14px">It's better for your messy house and the environment. eBill paperless billing is the free, secure way to view your monthly DTE Energy electronically. </h4>
          </section>
        </div> 
      
		
		<!-- END -- eBillPaperless Billing Modal Secion -->
      </div>
    </div>
<!-- End -eBill Paperless Billing Static Content -->
	</div>
    
    <script src="js/application_script.js"></script>
  </body>
</html>