<!DOCTYPE html>
<html>
  <head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="css/content.css" />
	<link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/datepicker.css" />
    <link rel="stylesheet" type="text/css" href="css/jquery-ui-1.10.4.custom.css" />
    <style>
      .dbrd {
        border-style: solid;
      }
    </style>
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/underscore.js"></script>
    <script src="js/backbone.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery-ui-1.10.4.custom.js"></script>
    <script src="js/utils.js"></script>

  </head>
  <body>
	<div class="center-950px-block gutter-top container_WDT960PX PADDL0 no-padding-left no-padding-right page " >
		
<!-- Start -eBill Paperless Billing Static Content -->
    <div class="rootDiv panel">
      <section class=" margin-bottom-sm">
        <div class="mcenter BRDBTM2PX">
          <div style="position: relative;display: inline-block; width: 100%;" class="PADDDB10PX">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 PADDINGCNT mfont_14px mtext-center">
			  <h1 class="dte-michigan" ><span class="header-mobile-padding fontface-light fnt15pt">eBill Paperless Billing</span></h1>
            </div>
          </div>
        </div>
      </section>
      <div class="PADDTB10PXLR15PX PADDB5PXMRGN5PX MRG0" style="margin-top: 5px;font: 14px Interstate-Light;position: relative;">
        <div class="PADDB20PX mtext-center">
          <section>
            <h4 class="grayColor fnt15pt font_14px">It's better for your messy house and the environment. eBill paperless billing is the free, secure way to view your monthly DTE Energy electronically. </h4>
          </section>
        </div> 
        <div>
          <hr class="linePos"></hr>
          <section id="">
            <article class="">
              <div class="row PADDDB50PX">
				<div class="MRGB20PX col-md-12 col-sm-12 col-lg-12 MRGAUTO center-text">
					<p class="bluColor font_18px ">eBill Paperless Billing</p>
				</div> 
				<div class="PADDB20PX col-md-12 col-lg-12 col-sm-12 MRGAUTO mPDGB30PX text-center">
				  <input type="button" value="Enroll Now" id="enrollBtn" class="text-center rootDivBtn"/>
				</div>
				<div class="mtext-center center-text WDTH70 MRGAUTO">
				  <section>
					<p class="PADDDTB0EM grayColor fnt_16px">To enroll in Online Payment, you will need to sign in to your online DTE Energy account. You can unenroll from Online Payment at any time. </p>
				  </section>
				</div>
              </div>
            </article>
          </section>
        </div>
		<hr class="linePos"></hr>
		<div class="PADDB20PX mtext-center" style="margin-top: 20px;">
          <section>
            <h3 class="fnt15pt">Program Highlights </h3>
          </section>
        </div> 
        <div>
          <hr class="linePos"></hr>
          <section id="">
            <article class="">
              <div class="row MARL0PX ">
                <div class="font_14px PADDL20PX PADDR35PX col-md-6 col-lg-6 col-sm-6 col-xs-12">
					<p class="mtext-center"><span class="bluColor font_20px">No More Paper!</span></p>
					<p class="PADDDTB0EM">Every month, you'll receive an email when your DTE Energy statement is available online at your DTE Energy account. This free service is not only good our palnet, it saves you the hassle of recycling.</p>
				</div>
				<div class="font_14px PADDL20PX PADDR35PX col-md-6 col-lg-6 col-sm-6 col-xs-12 brdleft">
					<p class="mtext-center"><span class="bluColor font_20px">Integrated With Other Programs</span></p>
					<p class="PADDDTB0EM">Already using other DTE Energy programs? No problem! ebill Paperless Billing works seamlessly with Automatic Payment, BudgetWise Billing and other payment programs</p>
				</div>
				<div class="font_14px PADDL20PX PADDR35PX col-md-6 col-lg-6 col-sm-6 col-xs-12">
					<p class="mtext-center"><span class="bluColor font_20px">Multiple Payment Options</span></p>
					<p class="PADDDTB0EM dPADDB20PX">Simplify your monthly billing even more by paying online with your checking or savings account, debitcard, Visa&#174, MasterCard&#174 or Discover &#174.</p>
				</div>
				<div class="font_14px PADDL20PX PADDR35PX col-md-6 col-lg-6 col-sm-6 col-xs-12 brdleft">
					<p class="mtext-center"><span class="bluColor font_20px">Monthly Remainders</span></p>
					<p class="PADDDTB0EM PADDB20PX">When your DTE Energy bill is ready, you will receive an email when your eBill paperless billing statement is ready for viewing, usually 17-20 days before the due date.</p>
				</div>
              </div>
            </article>
          </section>
        </div>
		<hr class="linePos"></hr>
		<div class="PADDB20PX mtext-center" style="margin-top: 20px;">
          <section>
            <h3 class="fnt15pt">eBill Paperless Billing FAQ </h3>
          </section>
        </div> 
		<section id="">
		  <article class="summaryInfo toggleHeader">
			<div class="row tglBgColor rootDivToggle" style="border-top: 2px solid #e5e5e5" >
			  <div class="col-md-12 col-sm-12 text-left  fnt15pt">
				<h5 class="PADDT4PX font_20px">
					<span class="summaryofcharges_text col-sm-11 col-xs-11">How do I cancel eBill Paperless billing?</span>
					<span  class="tglIcon expand-icon col-sm-1 col-xs-1"></span>
				</h5>
			  </div>
			</div>
		  </article>
		  <article class="summaryInfo toggle eleNone ">
			<div class="font_16px PADD20PX">
				<div class="mtext-center">
				  <section>
					<p class="">You may unenroll from eBill paperless billing at any time. Once your cancellation request has been processed, you will begin receiving a paper bill again.</p>
				  </section>
				</div>
				<div class="row PADDB20PX">
					<div class="col-xs-12 PADDL20PX PADDR20PX PADDB20PX">
							<p><span class="font_18px bluColor">Step 2 of 2: Feedback Details</span></p>
					</div>
					<div class="col-xs-12 PADDL20PX PADDR20PX">
							Service Type
					</div>
					<div class="PADDL10PX PADDR20PX PADDDB50PX">
						<div class=" col-xs-12">
							<div class="radio">
								<label>
									<input type="radio" class="radioIE9" name="serviceType" id="dteElectricService" value="DTE Electric service" checked >
									<span>DTE Electric service</span>
								</label>
						  </div>
						</div>
						<div class="col-xs-12">
							<div class="radio">
							  <label>
								<input type="radio" class="radioIE9" name="serviceType" id="dteGasService" value="DTE Gas service">
								DTE Gas service
							  </label>
							</div>
						</div>
						<div class="col-xs-12">
							<div class="radio PADDL0">
							  <label>
								<input type="checkbox" class="radioIE9" name="serviceType" id="dteBothService" value="Both gas and electric service">
								Both gas and electric service
							  </label>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6">
							<label for="accountNumber">My Account Number*</label>
							<input type="text" id="accountNumber" class="form-control formfield_req" onkeyup="valNonEmpty(this);">
							<span class="error" id="accountNumber_error">This is a required field.</span>
						</div>
						<div class="col-xs-12 col-sm-6">
							<label for="outageType">Subject of complaint*</label>
							<select class="form-control formfield_req" id="complaintType" onchange="valNonEmpty(this);">
								<option value="">Select Subject...</option>
								<option value="Starting My Service">Starting My Service</option>
								<option value="Stopping My Service">Stopping My Service</option>
								<option value="Getting service reconnected after a shutoff">Getting service reconnected after a shutoff</option>
								<option value="Frequent Outages or Voltage Problems">Frequent Outages or Voltage Problems</option>
								<option value="Home Protection Plus">Home Protection Plus (appliance repair)</option>
								<option value="Need help paying my bill">Need help paying my bill</option>
								<option value="Tree Trimming">Tree Trimming</option>
								<option value="Incorrect Bill">Incorrect Bill</option>
								<option value="Other">Other</option>
							</select>
							<span class="error" id="complaintType_error">This is a required field.</span>
						</div>
					</div>
				</div>
            </div>
		  </article>
		</section>
		<hr class="linePos"></hr>
		<div class="PADDB20PX mtext-center" style="margin-top: 20px;">
          <section class="PADDB20PX">
			<div style="width:85%; float: left;">
				<h3 class="fnt15pt">eBill Paperless Billing Terms & Conditions </h3>
			</div>
			<div style="width:15%; float: left; padding-top:5px;">
				<span class="fRight mtext-center mWDTH100"><a href="javascript:void(0);" id="ebillpaperless_learnMore">Learn More</a></span>
			</div>
          </section>
        </div>
		<hr class="linePos"></hr>
		<!-- START -- eBillPaperless Billing Modal Secion -->
		<section>
			<div class="modal" id="ebillSectionDesc" aria-hidden="false" aria-labelledby="addPaymentModalLabel" role="dialog" tabinde x="-1" >
			  <div class="modal-dialog modal-lg">
			  <div class="modal-content">
				<form class="form-horizontal">
				<div class="modal-header modal-header-width">
				  <button id="ebillSectionDescCloseButton" class="close" aria-hidden="true" data-dismiss="modal" type="button">
				  <span class="icon-close"></span>
				  </button>
				  <h4 class="modal-title modal-title-width" style="color:#ffffff">eBill Paperless Billing Terms & Conditions</h4>
				</div>
				<div id="ebillModal" class="modal-body modal-height padding-top-40-xs padding-right-10-xs padding-bottom-40-xs padding-left-10-xs accHIW">
				  <article class="mrgCenter  bwb_Division mMRGT5PX">
					<div class="MRGB20PX">
					  <span class="bluColor font_14px">Enrollment requirements</span>
					  <p class="MRGB20PX font_14px">Upon activation, you will no longer receive a paper bill unless your DTE Energy account is in shut-off status. Instead, you will receive a monthly email reminder when your bill is available online. You may unenroll from eBill paperless billing at any time.</p>
					  <p class="MRGB20PX font_14px">You can pay online using your DTE Energy account. Please visit Pay Online for more information.</p>
					</div>
				  </article>
				</div>
				</form>
			  </div>
			  </div>
			</div>
		</section>
		<!-- END -- eBillPaperless Billing Modal Secion -->
		<div class="PADDB5PXMRGN5PX MRG0" style="font: 14px Interstate-Light;position: relative;">
				<section class="tabSection modifyServicePADDT2PX row MRG0 " >
					<table class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<tr class="HGT35PX center-text" >
						  <td class="modifyService_electric active" id="modifyService_electric_Tab"><span class="center-text font_28px fnt15pt">Modify Electric Service</span></td>
						  <td class="modifyService_gas" id="modifyService_gas_Tab"><span class="font_28px fnt15pt">Modify Gas Service</span></td>
						</tr>
					</table>	
				</section>
				<div class="PADDTB10PXLR15PX" id="modifyService_electric_section">
					<section class="row PADDTB10PXLR15PX">
						<div class="col-md-12">
							<h2 class="center-text fnt15pt PADDT10PX"><span class="bluColor">Modify Electric Service</span></h2>
						</div>
					</section>
					<div>
					  <section id="">
						<article class="">
						  <div class="row">
							<div class="font_14px PADDL20PX PADDR20PX">
								<p>Submit the form below to turn on electric or natural gas service at your new business location.</p>
							</div>
						  </div>
						</article>
					  </section>
					</div>
					
				</div>
				<div class="PADDTB10PXLR15PX eleNone font_14px PADDL20PX PADDR20PX" id="modifyService_gas_section">
					<h3 class="center-text PADDT10PX fnt15pt">Modify Commercial Gas Service</h3>
					<p>Adding new natural gas equipment for your commercial business may require a larger meter or an increase in gas pressure. If your business consumes less than 100,000 Ccf (hundred cubic feet) of natural gas per year, DTE Gas' Service Planning Group can assist you.</p>
				</div>
			</div>
      </div>
    </div>
<!-- End -eBill Paperless Billing Static Content -->
	</div>
    
    <script src="js/application_script.js"></script>
  </body>
</html>