<html><head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
   <!--  <link rel="stylesheet" type="text/css" href="css/bootstrap.css" /> -->
    <link rel="stylesheet" type="text/css" href="../../ecommerce_portal/css/content.css">
	<link rel="stylesheet" type="text/css" href="../../ecommerce_portal/css/style.css">
    <link rel="stylesheet" type="text/css" href="../../ecommerce_portal/css/datepicker.css">
    <link href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" type="text/css" href="../../ecommerce_portal/css/jquery-ui-1.10.4.custom.css">
    <style>
      .dbrd {
        border-style: solid;
      }
    </style>
   <!--  <script src="js/jquery-1.10.2.js"></script> -->
    <script src="../../ecommerce_portal/js/underscore.js"></script>
    <script src="../../ecommerce_portal/js/backbone.js"></script>
  <!--   <script src="js/bootstrap.min.js"></script> -->
    <script src="../../ecommerce_portal/js/jquery-ui-1.10.4.custom.js"></script>
    <script src="../../ecommerce_portal/js/utils.js"></script>

  </head>
  <body class="" style="">
  	<% include ../portfolio_header.html %>
	<div class="center-950px-block  container_WDT960PX PADDL0 no-padding-left no-padding-right page ">
    <div class="rootDiv panel" >
		<section id="nh_header" class="fixed_header ">
			<div class="col-md-6 col-lg-6 col-sm-6 col-xs-6  mfont_14px mtext-center index_navigation " >
				<ul id="menu" class="index_navigation_right">
					<li class="MRGR15PX index_navigation_li "><a href="javascript:void(0);" id="signup">Signup </a></li>
					<li class="MRGR15PX "><a href="javascript:void(0);" id="login">login</a></li>					
				</ul>					
			</div>
			<div class="mcenter">
				<div style="position: relative;display: inline-block; width: 100%;" >
					<div class="col-md-6 col-lg-6 col-sm-6 col-xs-6  mfont_14px mtext-center PADDL20PX">
						<a href="index.html"><img class="logo_icon_img" src="../images/logo_icon.png" alt="Saptalabs" title="Saptalabs" ></a>
					</div>					
					<div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 mtext-center " style="  padding-top:5px;">
						<ul id="menu" class="index_menu_right">
							<li ><a href="#" id="" class="index_menu_a">Menu - 1</a></li>
							<li ><a href="#" id="" class="index_menu_a">Menu - 2</a></li>
							<li ><a href="#" id="" class="index_menu_a">Menu - 3</a></li>
							<li ><a href="#" id="" class="index_menu_a">Menu - 4</a></li>
						</ul>
					</div>

				</div>	
			</div>
			<!--  <hr class="linePos MRGT20PX"></hr> -->
		</section>
		
		<div id="nh_show" class=" cntntShow">
		
		
		
         <div class="scrollmagic-pin-spacer index_scroll_container" >
				<div id="doingbusiness" class="doing-business " style="position: relative;  top: 80px; margin: auto;  bottom: auto; right: auto; box-sizing: border-box; width: 960px;">
			 
					<section class="story-approach" style="height: 597px;"> 
						<h2 class="text-center">doing business on openkart is really easy</h2>
						<div id="business-slider" class="business-carousal">
							<div class="business-outer">
								<div id="business-wrapper" class="business-wrapper clearfix" style="width: 4000px; right: 0px;">
									<div class="item-wrapper" style="height: 547px;">
										<div class="item">
											<div class="business-content list-content">
												<h3>Step 1</h3>
												<h2>List your products</h2>
												<p>Uploading your products is really simple through our self-serve tool. We also help you put together an attractive catalog by connecting you with industry experts.</p>
												<div class="cards">
													<div class="card-desc">
														<div class="card-img-holder">
															<span class="how how-1"></span>
														</div>
														<div class="card-cont">
															<p>Easy to use<br>self-serve portal</p>
														</div>
													</div>
													<div class="card-desc">
														<div class="card-img-holder"><span class="how how-2"></span></div>
														<div class="card-cont"><p>Catalog &amp; photo-shoot<br>partners across India</p></div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="item-wrapper" style="height: 547px;">
										<div class="item">
											<div class="business-content sell-content">
												<h3>Step 2</h3>
												<h2>Sell across India</h2>
												<p>Maximise your online sales; attract more buyers and achieve higher conversion rates.</p>
												<div class="cards">
													<div class="card-desc">
														<div class="card-img-holder">
															<span class="how how-3"></span>
														</div>
														<div class="card-cont">
															<p>Easy<br>dashboard</p>
														</div>
													</div>
													<div class="card-desc">
														<div class="card-img-holder">
															<span class="how how-4"></span>
														</div>
														<div class="card-cont"><p>Promotions<br>and advertising</p></div>
													</div>
													<div class="card-desc third-card">
														<div class="card-img-holder"><span class="how how-5"></span></div>
														<div class="card-cont"><p>Analytics<br>support</p></div>
													</div>
												</div>
											</div>
										</div>
									</div> 
									<div class="item-wrapper" style="height: 547px;">
										<div class="item">
											<div class="business-content sell-content">
												<h3>Step 3</h3><h2>Ship with ease</h2>
												<p>Enjoy hassle-free pick-up and delivery across India through our logistics services and sell across the nation!</p>
												<div class="cards">
													<div class="card-desc">
														<div class="card-img-holder">
															<span class="how how-6"></span>
														</div>
														<div class="card-cont">
															<p>Dedicated<br>pick-up service</p>
														</div>
													</div>
													<div class="card-desc">
														<div class="card-img-holder">
															<span class="how how-7"></span>
														</div>
														<div class="card-cont"><p>Packaging support</p></div>
													</div>
													<div class="card-desc third-card">
														<div class="card-img-holder">
															<span class="how how-8"></span>
														</div>
														<div class="card-cont">
															<p>Pan-India reach</p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="item-wrapper" style="height: 547px;">
										<div class="item">
											<div class="business-content sell-content">
												<h3>Step 4</h3><h2>Earn big</h2>
												<p>Make use of the host of services that we offer and earn more. Our payments process is the fastest in the industry - get your payments within 5-7 days of sales!</p>
												<div class="cards">
													<div class="card-desc">
														<div class="card-img-holder">
															<span class="how how-9"></span>
														</div>
														<div class="card-cont">
															<p>Fastest payments settlements<br>in the industry</p>
														</div>
													</div>
													<div class="card-desc">
														<div class="card-img-holder">
															<span class="how how-10"></span>
														</div>
														<div class="card-cont">
															<p>Lending partner<br>network</p>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="item-wrapper" style="height: 547px;">
										<div class="item form-item">
											<div class="start-selling-fomr">
												<h2>Start Selling</h2>
													<form action="/" method="post" accept-charset="UTF-8" class="slp_seller_form" novalidate="novalidate">
														<div>
															<div class="form-type-textfield form-item-email form-item form-group">
																<input id="useremail" type="text" placeholder="Email ID" name="email" class="form-control form-text required">
															</div>
															<div class="form-type-textfield form-item-phone form-item form-group">
																<input id="userphone" type="text" placeholder="Phone Number" name="phone" class="form-control form-text required">
															</div>
															<a href="/ecommerce_portal/<%=token%>/sell_reg_account"><button id="edit-submit--3" value="Start Selling" type="button" class="btn btn-default form-submit homeBtn">Start Selling</button></a>
														</div>
													</form>
													<div class="clearfix">
														<div class="left left-block">
															<p>More Than</p><h3>30,000</h3><p>Online Sellers</p><br><br><a href="/slp/slp-categories/success-stories" class="link-to">Read Success Stories</a>
														</div>
													</div>
											</div>
										</div>
									</div>
									
								</div>
							</div>
						</div>
					</section>
				</div>
			</div> 
		
				<!-- <div class="just-a-spacer">cdx</div> -->
					<div class="splitlayout_section">
				abcd
					</div>
					<div class="vediolayout_section">
				1234
					</div>  
		</div>
        
		
        
		
		
		
		<!-- START -- signup Modal Secion -->
		<section>
		
			<div class="modal fade" id="signupDesc" aria-hidden="false" aria-labelledby="" role="dialog" tabinde="" x="-1" style="display: none; overflow: auto;">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<form role="form" class="signUpForm-horizontal" id="signUpForm-horizontal" name="signUpForm-horizontal" method="post" action="" onsubmit="javascript:return signUpFormvalidation();">
							<div class="modal-body modal-height padding-top-40-xs padding-right-10-xs padding-bottom-40-xs padding-left-10-xs accHIW signup_model " style="width: 200px !important; border-radius: 6px;">
								<div class="modal-header modal-header-width signup_model_width signup_model_header PADDL15PX ">
									<button class="close signup_model_close" aria-hidden="true" data-dismiss="modal" type="button">
										<span class="icon-close"></span>
									</button>
									<h4 class="modal-title modal-title-width" style=" color: #004990;">Sign Up</h4>
								</div>
								<article class="mrgCenter mMRGT5PX" style="padding: 0 10px;">
									<div class="MRGB20PX">
										<div class="col-md-12 col-lg-12 col-sm-12 MRGAUTO mPDGB30PX text-center signup_model_animtn">
											<input type="button" value="Signup with Facebook"  class="text-center fb-sign-acc signup_model_btn PADDL30">
										</div>
										<div class="or">
											<span class="or_text">OR</span>
										</div>
										<div class="form-group has-feedback signup_model_form-group ">
											<div class="row MRGB20PX signup_model_animtn">
												<div class="PADDDLR5PX">
													<div class="col-xs-12 col-sm-12">
														<input type="text" id="email" placeholder="Email Address" class="form-control formfield_req PADDL30" onkeyup="valEmail(this);" onblur="valEmail(this);">
														<span class="glyphicon glyphicon-envelope signup_model_icon " id="email_icon"></span><span class="error" id="email_error">This is a required field.</span>
														<span class="error" id="email_error1">Email is not valid</span>
													</div>
												</div>
											</div>
											<div class="row MRGB20PX signup_model_animtn" >
												<div class="PADDDLR5PX">
													<div class="col-xs-12 col-sm-12">
														<input type="text" id="userName" class="form-control formfield_req PADDL30" placeholder="Username" onkeyup="valNonEmpty(this);" onblur="valNonEmpty(this);">
														<span class="glyphicon glyphicon-user signup_model_icon " id="userName_icon"></span><span class="error" id="userName_error">This is a required field.</span>
													</div>
												</div>
											</div>
											<div class="row MRGB20PX signup_model_animtn">
												<div class="PADDDLR5PX">
													<div class="col-xs-12 col-sm-12">
														<input type="password" id="password" class="form-control formfield_req PADDL30" placeholder="Password" onkeyup="valNonEmpty(this);" onblur="valNonEmpty(this); ">
														<span class="glyphicon glyphicon-lock signup_model_icon " id="password_icon"></span><span class="error" id="password_error">This is a required field.</span>
													</div>
												</div>
											</div>
											<div class="row  signup_model_animtn">
												<div class="PADDDLR5PX">
													<div class="col-xs-12 col-sm-12">
														<input type="password" id="confirmPassword" class="form-control formfield_req PADDL30" placeholder="Confirm Password" onkeyup="valdconfrmpass(this);" onblur="valNonEmpty(this); valdconfrmpass(this); ">
														<span class="glyphicon glyphicon-lock signup_model_icon " id="confirmPassword_icon"></span><span class="error" id="confirmPassword_error">This is a required field.</span>
														<span class="error" id="confirmPassword_error2">Enter password First</span>
														<span class="error" id="confirmPassword_error3">Passwords do not match!</span>
													</div>
												</div>
											</div>
											<div class="PADDB20PX col-md-12 col-lg-12 col-sm-12 MRGAUTO mPDGB30PX text-center  MRGT20PX PADDD0PX signup_model_animtn " style="display: block;">
												<input type="submit" value="Sign Up" id="enrollBtn" class="text-center rootDivBtn signup_model_btn signup_model_animtn">
											</div>
											<div class="mtext-center ">
												<section>
													<p class="grayColor font_14px">By registering you confirm that you accept the 
													<a href="sample.html" onclick="window.open(this.href,'mywin','left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;">Terms and Conditions</a>  and <a href="#">Privacy Policy</a> </p>
												</section>
											</div>
											
										</div>
									</div>
								</article>
								<div class="font_14px signup_account">
									<p>Already registerd user ?<a href="javascript:void(0);" id="login">&nbsp;Log In</a></p>
								</div>
							</div>
						</form>
				  </div>
				</div>
			</div>				
		</section>
		<!-- END -- signup Modal Secion -->
		
		
		
		
		<!-- START -- login Modal Secion -->
		<section>
		
			<div class="modal fade" id="loginDesc" aria-hidden="false" aria-labelledby="" role="dialog" tabinde="" x="-1" style="display: none;">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<form role="form" class="loginForm-horizontal" id="loginForm-horizontal" name="loginForm-horizontal" method="post" action="" onsubmit="javascript:return loginFormvalidation();" >

							<div  class="modal-body modal-height padding-top-40-xs padding-right-10-xs padding-bottom-40-xs padding-left-10-xs accHIW signup_model " style="width: 200px !important; border-radius: 6px;">
								<div class="modal-header modal-header-width signup_model_width signup_model_header PADDL15PX ">
									<button  class="close signup_model_close" aria-hidden="true" data-dismiss="modal" type="button">
										<span class="icon-close"></span>
									</button>
									 <h4 class="modal-title modal-title-width" style=" color: #004990;">Login</h4>
								</div>
								<article class="mrgCenter  mMRGT5PX" style="padding: 0 10px;">
									<div class="MRGB20PX">
										<div class=" col-md-12 col-lg-12 col-sm-12 MRGAUTO mPDGB30PX text-center signup_model_animtn">
											<input type="button" value="Login with Facebook"  class="text-center fb-sign-acc signup_model_btn PADDL30">
										</div>
										<div class="or">
											<span class="or_text">OR</span>
										</div>
										<div class="form-group has-feedback signup_model_form-group ">
											<div class="row MRGB20PX signup_model_animtn">
												<div class="PADDDLR5PX">
													<div class="col-xs-12 col-sm-12">
														<input type="text" id="loginemail" placeholder="Email or Username" class="form-control formfield_req PADDL30"  onblur="valNonEmpty(this);" onkeyup="valNonEmpty(this);">
														<span class="glyphicon glyphicon-envelope signup_model_icon " id="loginemail_icon"></span><span class="error" id="loginemail_error">This is a required field.</span>
													</div>
												</div>
											</div>
											<div class="row signup_model_animtn">
												<div class="PADDDLR5PX">
													<div class="col-xs-12 col-sm-12">
														<input type="password" id="loginpassword" class="form-control formfield_req PADDL30" placeholder="Password" onkeyup="valNonEmpty(this);" onblur="valNonEmpty(this);">
														<span class="glyphicon glyphicon-lock signup_model_icon " id="loginpassword_icon"></span><span class="error" id="loginpassword_error">This is a required field.</span>
													</div>
												</div>
											</div>
											<div class=" signup_model_animtn " style="display: block; text-align: center;">
												<div class="PADDDLR5PX row">													
													<div class=" col-xs-12 signup_model_animtn"  >
														<div class="radio mrgCenter col-lg-12 col-md-12 col-sm-12 col-xs-12">
															<label class="PADDL0">
																<input type="checkbox" class="radioIE9" name="" value=""  id="rememberMe">
																<span>Remember me</span>
															</label>
														</div>
													</div>
												</div>
											</div>
											
											<div class="PADDB20PX col-md-12 col-lg-12 col-sm-12 MRGAUTO mPDGB30PX text-center  MRGT20PX PADDD0PX signup_model_animtn " style="display: block;">
												<input type="submit" value="Login"  class="text-center rootDivBtn signup_model_btn signup_model_animtn">
											</div>
											<div class="mtext-center ">
												  <section>
													<p class="grayColor forgot_pwd"> <a href="javascript:void(0);" id="forgotpassword">Forgot Account Details?</a> </p>
												  </section>
											</div>
											
										</div>
									</div>
								</article>
								<div class="font_14px signup_account">
									<p>Don't have an account?<a href="javascript:void(0);" id="signup">&nbsp;sign up!</a></p>
								</div>							 
							</div>
						</form>
				  </div>
				</div>
			</div>				
		</section>
		<!-- END -- login Modal Secion -->
		
		<!-- starts forgotpassword -->
		
		
		<section>
		
			<div class="modal fade" id="forgotpasswordDesc" aria-hidden="false" aria-labelledby="" role="dialog" tabinde="" x="-1" style="display: none;">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<form role="form" class="resetLoginform-horizontal" id="resetLoginform-horizontal" name="resetLoginform-horizontal" method="post" action="" onsubmit="javascript:return resetFormvalidation();">
							<div  class="modal-body modal-height padding-top-40-xs padding-right-10-xs padding-bottom-40-xs padding-left-10-xs accHIW signup_model " style="width: 265px !important ; right: 11px; border-radius: 6px;">
								<div class="modal-header modal-header-width signup_model_width signup_model_header PADDL15PX ">
									<button  class="close signup_model_close" aria-hidden="true" data-dismiss="modal" type="button">
										<span class="icon-close"></span>
									</button>
									 <h4 class="modal-title modal-title-width" style=" color: #004990;">Reset your password</h4>
								</div>
								<article class="mrgCenter   mMRGT5PX" style="padding: 0 10px;">
									<div class="MRGB20PX">
										<div class="form-group has-feedback signup_model_form-group ">
											<div class="row MRGB20PX signup_model_animtn">
												<div class="PADDDLR5PX">
													<div class="col-xs-12 col-sm-12 ">
														<input type="text" id="forgotemail" placeholder="Enter your e-mail address" class="form-control formfield_req PADDL30" onkeyup="valEmail(this);" onblur="valEmail(this);" style="padding-right: 0px;">
														<span class="glyphicon glyphicon-envelope signup_model_icon " id="forgotemail_icon"></span><span class="error" id="forgotemail_error">This is a required field.</span>
														<span class="error" id="forgotemail_error1">Email is not valid</span>
													</div>
												</div>
											</div>
						
											<div class="PADDB20PX col-md-12 col-lg-12 col-sm-12 MRGAUTO mPDGB30PX text-center  MRGT20PX PADDD0PX signup_model_animtn " style="display: block;">
												<input type="submit" value="Reset Password" id="enrollBtn" class="text-center rootDivBtn signup_model_btn signup_model_animtn" >
											</div>
											<div class="mtext-center ">
												  <section>
													<p class="grayColor font_14px forgot_pwd"> <a href="javascript:void(0);" id="login">Login</a> </p>
												  </section>
											</div>
											
										</div>
									</div>
								</article>
								<div class="font_14px signup_account">
									<p>Don't have an account?<a href="javascript:void(0);" id="signup">&nbsp;sign up!</a></p>
								</div>							 
							</div>
						</form>
				  </div>
				</div>
			</div>				
		</section>
		
		
		<!-- ends forgotpassword -->
		
		
		
		
		
      </div>
    </div>

	</div>
    
    <script src="../../ecommerce_portal/js/script.js"></script>
	<script src="../../ecommerce_portal/js/form_validation.js"></script>
	<script>
	
	 (function($){
    (function fadeNext(collection){
        collection.eq(0).fadeIn(100, function(){
            (collection=collection.slice(1)).length 
            && fadeNext(collection)
        });
    })($('.signup_model_animtn'))
})(jQuery) 
	
	 $(window).scroll(function() {
		scrollTop = $(window).scrollTop();
    
		if (scrollTop < 3100 ){
		
			   $('.doing-business').css({
							   'position':'fixed',							   
				});
					   
					  // dist = ( scrollTop-1300);
					   
				$("div#business-wrapper").css({
			 
					"right": $(window).scrollTop() + "px" 
		//"right":dist+"px"
				})
		}	
		if (scrollTop > 3100 ){

			$('.doing-business').css({
				'position':'relative'
					   
			});
			$('.scrollmagic-pin-spacer').css({
					   'padding-bottom':0,
					   'padding-top':'3000px'
					   
					   
			});
					  
		}else{ 
	   
			$('.scrollmagic-pin-spacer').css({
					   'padding-top':0,
					   'padding-bottom':'3000px'
					   
			});	   
	   }
	   
	});   
	
	</script>
	
  
</body></html>