<!DOCTYPE html>
<html>
  <head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../ecommerce_portal/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="../../ecommerce_portal/css/content.css" />
	<link rel="stylesheet" type="text/css" href="../../ecommerce_portal/css/style.css" />
    <link rel="stylesheet" type="text/css" href="../../ecommerce_portal/css/datepicker.css" />
    <link href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" type="text/css" href="../../ecommerce_portal/css/jquery-ui-1.10.4.custom.css" />
    <style>
      .dbrd {
        border-style: solid;
      }
    </style>
    <script src="../../ecommerce_portal/js/jquery-1.10.2.js"></script>
    <script src="../../ecommerce_portal/js/underscore.js"></script>
    <script src="../../ecommerce_portal/js/backbone.js"></script>
    <script src="../../ecommerce_portal/js/bootstrap.min.js"></script>
    <script src="../../ecommerce_portal/js/jquery-ui-1.10.4.custom.js"></script>
    <script src="../../ecommerce_portal/js/utils.js"></script>

  </head>
  <body>
 	 <% include ../portfolio_header.html %>
	<div class="center-950px-block container_WDT960PX PADDL0 no-padding-left no-padding-right page rootDiv" >
		<section id="nh_header" class="fixed_header ">
			<div class="col-md-6 col-lg-6 col-sm-6 col-xs-6  mfont_14px mtext-center index_navigation " >
				<ul id="menu" class="index_navigation_right">
					<li class="MRGR15PX index_navigation_li "><a href="javascript:void(0);" id="signup">Signup </a></li>
					<li class="MRGR15PX "><a href="javascript:void(0);" id="login">login</a></li>					
				</ul>					
			</div>
			<div class="mcenter">
				<div style="position: relative;display: inline-block; width: 100%;" >
					<div class="col-md-6 col-lg-6 col-sm-6 col-xs-6  mfont_14px mtext-center PADDL20PX">
						<a href="index.html"><img class="logo_icon_img" src="../images/logo_icon.png" alt="Saptalabs" title="Saptalabs" ></a>
					</div>					
					<div class="col-md-6 col-lg-6 col-sm-6 col-xs-6 mtext-center " style="  padding-top:5px;">
						<ul id="menu" class="index_menu_right">
							<li ><a href="#" id="" class="index_menu_a">Menu - 1</a></li>
							<li ><a href="#" id="" class="index_menu_a">Menu - 2</a></li>
							<li ><a href="#" id="" class="index_menu_a">Menu - 3</a></li>
							<li ><a href="#" id="" class="index_menu_a">Menu - 4</a></li>
						</ul>
					</div>

				</div>	
			</div>
			<!--  <hr class="linePos MRGT20PX"></hr> -->
		</section>
		<hr class="linePos5px"></hr>
		<div id="nh_show" style="position: relative;display: table; width: 100%;" class="cntntShow MRGN80PX">
		<div class="column-container row leftNav_WDT240PX fRight MRGT80PX">
			<div id="sidebar" class="panel-group mleftnavhide">
<!-- START - Left Nav -->
                 <section class="accordion-step panel brd10Btm">
				    <div class="accordion-heading blubgColor row" data="" >
				        <div class="col-xs-12 col-lg-12 col-md-12">
				            <div class="accordion-label center-text">
				                <span class="whiteColor font_18px">Try it <b>FREE</b></span>
				            </div>							
				        </div>
					</div>
					<div class="accordion-heading row" data="" >
				        <div class="col-xs-12 col-lg-12 col-md-12">
				            <div class="accordion-label MARL0PX">
				                <span class="font_18px grayColor"><b>FREE</b> to post a product</span>
				            </div>
							<div class="accordion-label">
				                <p class="font_12px grayColor lineHeight1 PADDDTB0EM MRG0"><b>Free</b> to post a product1 to post a product</p>
								 <p class="font_12px grayColor PADDDTB0EM MRG0"><b>Free</b> to post a product1</p>
								 
								  <p class="font_12px grayColor PADDDTB0EM MRG0"><b>Free</b> to post a product1</p>
								   <p class="font_12px grayColor PADDDTB0EM MRG0"><b>Free</b> to post a product1</p>
				            </div>
				        </div>
					</div>					
				</section>
            </div>
		</div>
<!-- END - Left Nav -->

<!-- Start -eBill Paperless Billing Static Content -->
    <section class="panel column-right-content fLeft MRGT80PX">
		<form class="informationForm" id="informationForm" name="informationForm" action="/ecommerce_portal/<%=token%>/seller" onsubmit="javascript: return sellerInformationValidation();">
			<article class="sell-Account-Creation-Process">
				<h5>Begin your Our Marketplace journey with 3 simple steps:</h5>
				<nav>
					<ul>
						<li>
							<span></span>
							<div>1</div>
							<p>Account Creation</p>
						</li>
						<li>
							<span></span>
							<div class="blubgColor whiteColor">2</div>
							<p>Verification of Details</p>
						</li>
						<li>
							<div class="blubgColor whiteColor">3</div>
							<p>Seller Information</p>
						</li>
					</ul>
				</nav>	
			</article>
			<article class="seller-information row">
				<h1 class="col-md-12 col-sm-12 col-lg-12 col-xs-12">Seller Information</h1>
				<div class="add-Verification col-md-12 col-sm-12 col-lg-12 col-xs-12 row">
					<h3 class="col-md-12col-sm-12 col-lg-12 col-xs-12">Business Details</h3>
					<div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 row">					
						<label class="col-md-4 col-sm-4 col-lg-4 col-xs-12 ">Business name <span class="red-color">*</span></label>
						<span class="col-md-5 col-sm-5 col-lg-5 col-xs-12 ">
							<input type="text" class="form-control formfield_req" id="businessName" onblur="sellerInformationValNonEmpty(this);" onkeyup="sellerInformationValNonEmpty(this);"/>
							<span class="error" id="businessName_error">This is Required Field</span>
						</span>
						<p class="col-md-12 col-sm-12 col-lg-12 col-xs-12 center-text PDNG0PX">Business name should be same as that of your TIN.</p>
					</div>
					<div class="row col-md-12 col-sm-12 col-lg-12 col-xs-12 ">
						<label class="col-md-4 col-sm-4 col-lg-4 col-xs-12 ">PAN <span class="red-color">*</span></label>
						<span class="col-md-5 col-sm-5 col-lg-5 col-xs-12 ">
							<input type="text" class="form-control formfield_req" id="panNumber" onblur="sellerInformationValNonEmpty(this);" onkeyup="sellerInformationValNonEmpty(this);"/>
							<span class="error" id="panNumber_error">This is Required Field</span>
						</span>
					</div>
					<div class="row col-md-12 col-sm-12 col-lg-12 col-xs-12 ">
						<label class="col-md-4 col-sm-4 col-lg-4 col-xs-12 ">TIN</label>
						<span class="col-md-5 col-sm-5 col-lg-5 col-xs-12 ">
							<input type="text" class="form-control" id="tinNumber"/>
						</span>
						<a href="#" class="col-md-12 col-sm-12 col-lg-12 col-xs-12 ">Continue without TIN</a>
					</div>
					<div class="row col-md-12 col-sm-12 col-lg-12 col-xs-12 PADDDB10PX">
						<label class="col-md-4 col-sm-4 col-lg-4 col-xs-12 ">TAN</label>
						<span class="col-md-5 col-sm-5 col-lg-5 col-xs-12 ">
							<input type="text" class="form-control" id="tanNumber"/>
						</span>
						<a href="#" class="col-md-12 col-sm-12 col-lg-12 col-xs-12 ">Continue without TAN</a>
					</div>
				</div>	
				<div class="add-Verification col-md-12 col-sm-12 col-lg-12 col-xs-12 ">
					<h3>Bank Details</h3>
					<div class="row col-md-12 col-sm-12 col-lg-12 col-xs-12 ">
						<label class="col-md-4 col-sm-4 col-lg-4 col-xs-12">Account Holder Name <span class="red-color">*</span></label>
						<span class="col-md-5 col-sm-5 col-lg-5 col-xs-12">
							<input type="text" class="form-control formfield_req" id="accHolderName" onblur="sellerInformationValNonEmpty(this);" onkeyup="sellerInformationValNonEmpty(this);"/>
							<span class="error" id="accHolderName_error">This is Required Field</span>
						</span>
					</div>
					<div class="row col-md-12 col-sm-12 col-lg-12 col-xs-12 ">
						<label class="col-md-4 col-sm-4 col-lg-4 col-xs-12">Bank account number <span class="red-color">*</span></label>
						<span class="col-md-5 col-sm-5 col-lg-5 col-xs-12 ">
							<input type="password" class="form-control formfield_req" id="accNumber" onblur="AccNumValidation(this);" onkeypress="return validateNumeric(event)" onkeyup="AccNumValidation(this);"/>
							<span class="error" id="accNumber_error">Enter Numbers Only</span>
						</span>
					</div>
					<div class="row col-md-12 col-sm-12 col-lg-12 col-xs-12 ">
						<label class="col-md-4 col-sm-4 col-lg-4 col-xs-12 ">Retype account number <span class="red-color">*</span></label>
						<span class="col-md-5 col-sm-5 col-lg-5 col-xs-12 ">
							<input type="text" class="form-control formfield_req" id="confirmAccNumber" onblur="AccNumValidation(this);" onkeyup="AccNumValidation(this);"/>
							<span class="error" id="confirmAccNumber_error">Account Number Don't Match</span>
							<!-- <span class="error" id="confirmAccNumber_error2">Account Number Don't Match</span> -->
						</span>
					</div>
					<div class="row col-md-12 col-sm-12 col-lg-12 col-xs-12 ">
						<label class="col-md-4 col-sm-4 col-lg-4 col-xs-12 ">IFSC code <span class="red-color">*</span></label>
						<span class="col-md-5 col-sm-5 col-lg-5 col-xs-12">
							<input type="text" class="form-control formfield_req" id="ifscCode" onblur="sellerInformationValNonEmpty(this);" onkeyup="sellerInformationValNonEmpty(this);"/>
							<span class="error" id="ifscCode_error">This is Required Field</span>
						</span>
						<a href="#" class="col-md-12">I don't remember IFSC code</a>
					</div>
					<div class="row col-md-12 col-sm-12 col-lg-12 col-xs-12">
						<label class="col-md-4 col-sm-4 col-lg-4 col-xs-12">Bank</label>
						<span class="col-md-5 col-sm-5 col-lg-5 col-xs-12">
							<input type="text" class="form-control" />
						</span>					
					</div>
					<div class="row col-md-12 col-sm-12 col-lg-12 col-xs-12">
						<label class="col-md-4 col-sm-4 col-lg-4 col-xs-12">State</label>
						<span class="col-md-5 col-sm-5 col-lg-5 col-xs-12">
							<input type="text" class="form-control"/>
						</span>					
					</div>
					<div class="row col-md-12 col-sm-12 col-lg-12 col-xs-12">
						<label class="col-md-4 col-sm-4 col-lg-4 col-xs-12">City</label>
						<span class="col-md-5 col-sm-5 col-lg-5 col-xs-12">
							<input type="text" class="form-control" />
						</span>					
					</div>
					<div class="row col-md-12 col-sm-12 col-lg-12 col-xs-12">
						<label class="col-md-4 col-sm-4 col-lg-4 col-xs-12">Branch</label>
						<span class="col-md-5 col-sm-5 col-lg-5 col-xs-12">
							<input type="text" class="form-control" />
						</span>					
					</div>
				</div>
				<article class="seller-information">
					<h1>Seller Information</h1>
					<div class="add-Verification col-md-12 col-sm-12 col-lg-12 col-xs-12">
						<h3>Store Details</h3>
						<div>
							<div class="row col-md-12 col-sm-12 col-lg-12 col-xs-12">
								<label class="col-md-4 col-sm-4 col-lg-4 col-xs-12">Display name <span class="red-color">*</span></label>
								<span class="col-md-5 col-sm-5 col-lg-5 col-xs-12">
									<input type="text" class="form-control formfield_req" id="displayName" onblur="sellerInformationValNonEmpty(this);" onkeyup="sellerInformationValNonEmpty(this);"/>
									<span class="error" id="displayName_error">This is Required Field</span>
								</span>
							</div>
						</div>
						<div class="row col-md-12 col-sm-12 col-lg-12 col-xs-12">
							<label class="col-md-4 col-sm-4 col-lg-4 col-xs-12">Store description <span class="red-color">*</span></label>
							<span class="col-md-5 col-sm-5 col-lg-5 col-xs-12">
								<textarea  class="form-control formfield_req" rows="5" id="description" onblur="sellerInformationValNonEmpty(this);" onkeyup="sellerInformationValNonEmpty(this);"></textarea>
								<span class="error" id="description_error">This is Required Field</span>
							</span>
						</div>						
						<div class="row col-md-12 col-sm-12 col-lg-12 col-xs-12">
							<div class="PADDL10PX PADDDTBPXX">
								<div class="PADDB20PX col-md-12 col-lg-12 col-sm-12 MRGAUTO mPDGB30PX text-center">
									<input type="submit" value="Save and continue" id="postAProductBtn" class="text-center rootDivBtn"/>
								</div>
							</div>
						</div>
						<p class="col-md-12 col-sm-12 col-lg-12 col-xs-12 PDNG0PX row center-text "><span class="red-color">*</span> mark fields are mandatory</p>
					</div>
				</article>
			</article>
		</form>
    </section>
<!-- End -eBill Paperless Billing Static Content -->
	</div>
    <script src="../../ecommerce_portal/js/script.js"></script>
    <script src="../../ecommerce_portal/js/application_script.js"></script>
	<script src="../../ecommerce_portal/js/seller_form_validation_script.js"></script>
  </body>
</html>